<div>
    <h1 class="content-title p-3">{{title}}</h1>
    <div class=" info-list big row row-cols-1 row-cols-md-3 p-4">
        <div *ngFor="let info of info" class="col">
            <div class="info-list big-info">
                <img  appImgBroken [src]="info.urlToImage" class="card-img-top" alt="...">
                <div class="info-list big-content">
                    <span class="badge mb-1">{{info.source.name}}</span>
                    <p class="card-text">{{info.description}}</p>
                    <a [href]="info.url" target="_blank" class="search-btn btn-block">Open</a>
                </div>
            </div>
        </div>
    </div>
</div>


